{% macro button(args) %}
{% set variant = args.variant | default("green") %}
{% set rounded = args.rounded | default(true) %}
{% set relative = args.href | isRelativeUrl %}
<a href="{{ args.href }}" class="bg-gradient-to-br from-{{ variant }}-700 to-{{ variant }}-800 hover:from-{{ variant }}-800 focus:from-{{ variant }}-800 text-white px-6 py-3{% if rounded %} rounded{% endif %}{% if args.fill %} flex{% else %} inline-flex{% endif %} justify-center items-center no-underline space-x-2"{% if relative == false %} rel="external"{% endif %}><span>{{ args.text }}</span>{% if relative == false %}<svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>{% endif %}</a>
{% endmacro%}

{% macro card(args) %}
<article class="flex flex-col">
{% if args.imgSrc %}
{{ image({ src: args.imgSrc, alt: "", lazy: args.lazy } )}}
{% endif %}
<div class="pt-4">
<h3 class="text-xl font-bold text-green-800 leading-tight"><a class="hover:underline focus:underline" href="{{ args.url }}">{{ args.heading }}</a></h3>
<p class="mt-1">{{ args.description | safe }}</p>
</div>
{# <div class="mt-auto">
{{ button({text: "Purchase on Amazon", href: "", fill: true, rounded: false}) }}
</div> #}
</article>
{% endmacro %}

{# <article class="flex items-start md:flex-col">
  <div class="w-1/5 md:w-full flex-shrink-0 mr-8 md:mb-4 md:mr-0">
    <figure class="w-100">
      <div class="relative pb-1/1 md:pb-16/9 bg-gray-100">
        <img class="m-0 absolute h-full w-full object-cover" src="{{ entry.data.thumbnail }}" alt="">
      </div>
    </figure>
  </div>
  <div>
    <h3 class="text-xl font-bold text-green-800"><a class="hover:underline" href="{{ entry.url }}">{{ entry.data.title }}</a></h3>
    <p class="mt-1">{{ entry.data.description }}</p>
  </div>
</article> #}

{% macro entry(args) %}
<article class="flex items-start{% if args.mdStacked %} md:flex-col{% endif %}">
{% if args.imgSrc %}
<div class="w-1/5 flex-shrink-0 mr-4{% if args.mdStacked %} md:w-full md:mb-4 md:mr-0{% endif %}">
<figure class="w-100">
<div class="relative pb-1/1 bg-gray-100 {% if args.mdStacked %} md:pb-16/9{% endif %}">
<img class="m-0 absolute h-full w-full object-cover" src="{{ args.imgSrc }}" alt=""{% if args.lazy %} loading="lazy"{% endif %}>
</div>
</figure>
</div>
{% endif %}
<div>
{# <span class="mb-1 text-sm text-gray-600 tracking-wider leading-none uppercase">Outdoor Cooking</span> #}
<h3 class="text-xl font-bold text-green-800 leading-tight"><a class="hover:underline focus:underline" href="{{ args.url }}">{{ args.heading }}</a></h3>
<p class="mt-1">{{ args.description }}</p>
</div>
</article>
{% endmacro %}

{% macro youtube(args) %}
<figure class="w-100 bg-gray-100">
<div class="relative pb-16/9">
<iframe class="absolute h-full w-full object-cover" title="{{ args.title }}" width="560" height="315" src="https://www.youtube.com/embed/{{ args.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</figure>
{% endmacro %}

{% macro image(args) %}
<figure class="w-100">
<div class="relative pb-{{ args.ratio | default('16/9') }} bg-gray-100">
<img class="m-0 absolute h-full w-full object-cover" src="{{ args.src }}" alt="{{ args.alt }}"{% if args.lazy %} loading="lazy"{% endif %}>
</div>
{% if args.caption %}
<figcaption class="text-center text-gray-700">{{ args.caption | markdownify_inline | safe }}</figcaption>
{% endif %}
</figure>
{% endmacro %}

{% macro video(args) %}
<figure class="w-100">
<div class="relative pb-16/9 bg-gray-100">
<video class="absolute h-full w-full object-cover" autoPlay loop muted controls>
<source src="{{ args.src }}" type="video/mp4">
<p>Your browser doesn't support HTML5 video. Here is a <a href="{{ args.src }}">link to the video</a> instead.</p>
</video>
</div>
{% if args.caption %}
<figcaption class="text-center text-gray-700">{{ args.caption | markdownify_inline | safe }}</figcaption>
{% endif %}
</figure>
{% endmacro %}

{% macro youtubeLite(args) %}
<lite-youtube videoid="{{ args.youtubeId }}" thumbnail="{{ args.thumbnail }}">
<button class="lty-playbtn absolute right-0 bottom-0 p-3 bg-green-800 hover:bg-green-900 focus:bg-green-900 text-white flex items-center justify-center z-10">
<span class="hidden sm:inline mr-2">Watch video</span>
<svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
</button>
</lite-youtube>
{% endmacro %}

{% macro prosCons(args) %}
<div class="border border-gray-300 grid lg:grid-cols-2">
<div class="px-8 pt-8 pb-3 lg:col-span-1 lg:border-r border-gray-300">
<h3 class="mt-0 text-green-800 text-xl">Pros</h3>
<ul>
{% for pro in args.pros %}
<li>{{ pro }}</li>
{% endfor %}
</ul>
</div>
<div class="px-8 pt-8 pb-3 lg:col-span-1 border-t border-gray-300 lg:border-none">
<h3 class="mt-0 text-green-800 text-xl">Cons</h3>
<ul>
{% for con in args.cons %}
<li>{{ con }}</li>
{% endfor %}
</ul>
</div>
</div>
{% endmacro %}

{% macro svg(name) %}
{% switch name %}
{% case 'external' %}
<svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
{% case 'rightArrow' %}
<svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
{% case 'leftArrow' %}
<svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
{% case 'expand' %}
<svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>
{% default %}
<p>No icon matches "{{ name }}"</p>
{% endswitch %}
{% endmacro %}
