{% macro button(args) %}
{% set variant = args.variant | default("green") %}
{% set bordered = args.bordered | default(true) %}
<a href="{{ args.href }}" class="bg-{{ variant }}-700 hover:bg-{{ variant }}-900 text-white px-6 py-3{% if args.rounded %} rounded{% endif %}{% if args.fill %} flex{% else %} inline-flex{% endif %} justify-center align-center">{{ args.text }}</a>
{% endmacro%}

{% macro card(args) %}
<article class="flex flex-col bg-gray-100">
{% if args.imgSrc %}
<div class="relative pb-16/9">
<img class="absolute h-full w-full object-cover" src="{{ args.imgSrc }}" alt="">
</div>
{% endif %}
<div class="p-4">
<h3 class="text-xl font-bold text-green-700">{{ args.heading }}</h3>
<p class="mt-1">{{ args.description | safe }}</p>
</div>
<div class="mt-auto">
{{ button({text: "Purchase on Amazon", href: "", fill: true, rounded: false}) }}
</div>
</article>
{% endmacro %}

{% macro entry(args) %}
<article class="flex items-start">
{% if args.imgSrc %}
<div class="w-1/5 flex-shrink-0 mr-8">
{{ image({ src: args.imgSrc, alt: "", ratio: "1/1", lazy: args.lazy } )}}
</div>
{% endif %}
<div>
<h3 class="text-xl font-bold text-green-700"><a class="hover:underline" href="{{ args.url }}">{{ args.heading }}</a></h3>
<p class="mt-1">{{ args.description }}</p>
</div>
</article>
{% endmacro %}

{% macro youtube(args) %}
<figure class="w-100 bg-gray-100">
<div class="relative pb-16/9">
<iframe class="absolute h-full w-full object-cover" title="{{ args.title }}" width="560" height="315" src="https://www.youtube.com/embed/{{ args.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</figure>
{% endmacro %}

{% macro image(args) %}
<figure class="w-100">
<div class="relative pb-{{ args.ratio | default('16/9') }} bg-gray-100">
<img class="m-0 absolute h-full w-full object-cover" src="{{ args.src }}" alt="{{ args.alt }}"{% if args.lazy %} loading="lazy"{% endif %}>
</div>
{% if args.caption %}
<figcaption class="text-center text-gray-700">{{ args.caption | markdownify_inline | safe }}</figcaption>
{% endif %}
</figure>
{% endmacro %}

{% macro video(args) %}
<figure class="w-100">
<div class="relative pb-16/9 bg-gray-100">
<video class="absolute h-full w-full object-cover" autoPlay loop muted controls>
<source src="{{ args.src }}" type="video/mp4">
<p>Your browser doesn't support HTML5 video. Here is a <a href="{{ args.src }}">link to the video</a> instead.</p>
</video>
</div>
{% if args.caption %}
<figcaption class="text-center text-gray-700">{{ args.caption | markdownify_inline | safe }}</figcaption>
{% endif %}
</figure>
{% endmacro %}

{% macro prosCons(args) %}
<div class="border border-gray-200 grid lg:grid-cols-2">
<div class="px-8 pt-8 pb-3 lg:col-span-1 lg:border-r border-gray-200">
<h3 class="mt-0 text-green-700 text-xl">Pros</h3>
<ul>
{% for pro in args.pros %}
<li>{{ pro }}</li>
{% endfor %}
</ul>
</div>
<div class="px-8 pt-8 pb-3 lg:col-span-1 border-t border-gray-200 lg:border-none">
<h3 class="mt-0 text-green-700 text-xl">Cons</h3>
<ul>
{% for con in args.cons %}
<li>{{ con }}</li>
{% endfor %}
</ul>
</div>
</div>
{% endmacro %}