<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body class="flex flex-col min-h-screen text-gray-900">
  {% include "partials/banner.njk" %}
  <main class="w-full max-w-screen-lg mx-auto mb-auto px-4">
    {% block main %}{% endblock %}
  </main>
  {% include "partials/contentinfo.njk" %}
</body>
</html>