{% extends 'layouts/default.njk' %}
{% import "components.njk" as components %}

{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

{% block main %}
  <header>
    {# <a class="mb-1 inline-flex items-center text-gray-700 hover:underline" href="">Purchase on Amazon <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a> #}
    <h1 class="text-green-700 text-3xl md:text-4xl lg:text-5xl font-bold leading-tight mw-65ch">{{ title }}</h1>
    {% if description %}
      <p class="text-xl text-gray-700">{{ description | markdownify_inline | safe }}</p>
    {% endif %}
    {% if youtubeId %}
      <div class="mt-8">
        {{ components.youtube({id: youtubeId }) }}
      </div>
    {% elseif thumbnail %}
      <div class="mt-8 relative">
        {% if gallery %}
          <button class="absolute right-0 bottom-0 px-6 py-3 bg-green-700 hover:bg-green-900 focus:bg-green-900 text-white flex items-center justify-center z-10" data-lightbox-show>
            <span>View gallery</span>
            <svg class="flex-shrink-0 ml-2" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>
          </button>
        {% endif %}
        {{ components.image({ src: thumbnail, alt: ""}) }}
      </div>
    {% endif %}
  </header>
  <div class="prose mt-8">
    {# <p class="text-xl font-bold text-green-700">Raiting: 6/10</p> #}
    {# {% if pros and cons %}
      {{ components.prosCons({
        pros: pros,
        cons: cons
      })}}
    {% endif %} #}
    {{ content | markdownify | safe }}
  </div>
  <div class="mt-8 pt-8 border-t border-gray-200 mw-65ch">
    <nav class="flex flex-col sm:flex-row justify-between">
      {% if previousPost %}
      <div class="mb-4 sm:mb-0">
        <p class="font-bold">Previous post</p>
        <a class="text-green-700 hover:underline" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      </div>
      {% endif %}
      {% if nextPost %}
      <div class="sm:ml-auto">
        <p class="font-bold sm:text-right">Next post</p>
        <a class="text-green-700 hover:underline" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </div>
      {% endif %}
    </nav>
  </div>
{% endblock %}

{% block pageEnd %}
  <div class="fixed top-0 left-0 w-screen h-screen z-50 hidden" data-lightbox>
    {# <button class="fixed top-0 right-0 w-12 h-12 mr-8 mt-8">Close</button> #}
    <div class="absolute top-0 left-0 w-screen h-screen flex items-center justify-center z-10 pointer-events-none">
      <div class="max-w-screen-md pointer-events-auto">
        {% for image in gallery %}
          <img class="hidden" src="{{ image }}" alt="{{ title }} - {{ loop.index }}" loading="lazy">
        {% endfor %}
      </div>
    </div>
    <div class="absolute top-0 left-0 w-screen h-screen bg-black bg-opacity-75 z-0" data-lightbox-hide></div>
  </div>
{% endblock %}

{% block pageJs %}
<script>
(function() {
  var lightbox = (function() {
    var lightBox = document.querySelector('[data-lightbox]');

    if (!lightBox) return;

    var currentIndex = 0;
    var lightBoxImages = lightBox.querySelectorAll('img');

    var addEventListeners = function() {
      document.addEventListener('click', clickEvents);
      document.addEventListener('keydown', keyboardEvents);
    }

    var show = function() {
      lightBox.classList.remove('hidden');
      lightBoxImages[currentIndex].classList.remove('hidden');
    }

    var hide = function() {
      lightBox.classList.add('hidden');
      lightBoxImages[currentIndex].classList.add('hidden');
      currentIndex = 0;
    }

    var next = function() {
      lightBoxImages[currentIndex].classList.add('hidden');
      if (currentIndex >= lightBoxImages.length - 1) {
        currentIndex = 0;
        lightBoxImages[currentIndex].classList.remove('hidden');
      } else {
        currentIndex++;
        lightBoxImages[currentIndex].classList.remove('hidden');
      }
    }

    var previous = function() {
      lightBoxImages[currentIndex].classList.add('hidden');
      if (currentIndex === 0) {
        currentIndex = lightBoxImages.length - 1;
        lightBoxImages[currentIndex].classList.remove('hidden');
      } else {
        currentIndex--;
        lightBoxImages[currentIndex].classList.remove('hidden');
      }
    }

    var clickEvents = function(event) {
      if (event.target.closest('[data-lightbox-show]')) {
        show();
      } else if (event.target.closest('[data-lightbox-hide]')) {
        hide();
      }
    }

    var keyboardEvents = function(event) {
      // Right arrow key
      if (event.keyCode === 39 && lightBox.classList.contains !== 'hidden') {
        next();
      }
      // Left arrow key
      if (event.keyCode === 37 && lightBox.classList.contains !== 'hidden') {
        previous();
      }
      // Escape key
      if (event.keyCode === 27 && lightBox.classList.contains !== 'hidden') {
        hide();
      }
    }

    var init = function() {
      addEventListeners();
    }

    return {
      init
    }
  })();

  lightbox.init();
})();
</script>
{% endblock %}