---
title: Hobbies
description: Outdoor cooking, RC cars, gear, and more.
featuredEntries: [
  'Meat Church Honey Hog Pork Shoulder',
  'Arrma Notorious 6s Unboxing',
  'Benchmade Mini Bugout',
  'Camelbak Chute Water Bottle'
]
permalink: /
---
{% extends 'layouts/default.njk' %}
{% import "components.njk" as components %}

{% set entries = collections.posts %}
{% set featuredEntries = entries | findByName(featuredEntries) %}

{% block main %}
  {% callout %}
    <h2 class="text-4xl md:text-5xl font-bold text-white">Welcome!</h2>
    <p class="mt-2 text-white text-xl mw-65ch">I'm Alex Carpenter and this is my personal website where I share my love for outdoor cooking, RC cars, gear, and more.</p>
  {% endcallout %}
  <section class="mt-16">
    <h2 class="text-4xl leading-tight font-bold text-green-700">Featured posts</h2>
    <p>View <a href="/tagged/rc-cars/" class="text-green-700 hover:underline">RC Cars</a>, <a href="/tagged/outdoor-cooking/" class="text-green-700 hover:underline">Outdoor cooking</a>, or <a href="/posts/" class="text-green-700 hover:underline">see all posts</a>.</p>
    <div class="mt-8 grid md:grid-cols-2 gap-8">
      <div class="md:col-span-1 pb-8 md:pb-0 border-b border-gray-200 md:border-none">
        {% for entry in featuredEntries | take(1) %}
        <article>
          {% if entry.data.thumbnail %}
            {{ components.image({ src: entry.data.thumbnail, alt: "" }) }}
          {% endif %}
          <div class="mt-4">
            <h3 class="text-2xl leading-tight font-bold text-green-700"><a class="hover:underline" href="{{ entry.url }}">{{ entry.data.title }}</a></h3>
            <p class="mt-1 text-lg mw-65ch">{{ entry.data.description }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
      <div class="md:col-span-1 md:border-l border-gray-200 md:pl-8">
        <ul class="divide-y divide-gray-200">
          {% for entry in featuredEntries | slice(1, 4) %}
            <li class="{% if loop.first %}pb-8 {% elseif loop.last %}pt-8 {% else %}py-8{% endif %}">
              {{ components.entry({
                imgSrc: entry.data.thumbnail,
                heading: entry.data.title,
                description: entry.data.description,
                url: entry.url
              }) }}
            </li>
          {% endfor %}
        </ul>
      </div>
  </section>
  <section class="mt-16 pt-8 border-t-4 border-gray-200">
    <header class="flex flex-wrap items-center justify-between">
      <h2 class="text-4xl leading-tight font-bold text-green-700 mr-2">RC Cars</h2>
      <a href="/tagged/rc-cars/" class="inline-flex items-center text-green-700 hover:underline">View more <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
    </header>
    <div class="mt-8 grid grid-cols-2 md:grid-cols-3 gap-8">
      {% for entry in entries | tagged('RC Cars') | take(3) %}
        {{ components.card({
          imgSrc: entry.data.thumbnail,
          heading: entry.data.title,
          description: entry.data.description,
          url: entry.url
        }) }}
      {% endfor %}
    </div>
  </section>
  <section class="mt-16 pt-8 border-t-4 border-gray-200">
    <header class="flex flex-wrap items-center justify-between">
      <h2 class="text-4xl leading-tight font-bold text-green-700 mr-2">Outdoor Cooking</h2>
      <a href="/tagged/outdoor-cooking/" class="inline-flex items-center text-green-700 hover:underline">View more <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
    </header>
    <div class="mt-8 grid grid-cols-2 md:grid-cols-3 gap-8">
      {% for entry in entries | tagged('Outdoor Cooking') | take(3) %}
        {{ components.card({
          imgSrc: entry.data.thumbnail,
          heading: entry.data.title,
          description: entry.data.description,
          url: entry.url
        }) }}
      {% endfor %}
    </div>
  </section>
{% endblock %}