---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
permalink: /tagged/{{ tag | kebab }}/
---
{% extends "layouts/default.njk" %}
{% import "components.njk" as components %}

{% set title = tag %}
{% set taglist = collections[tag] %}
{% set descriptionsMap = {
  'RC Cars': 'RC Cars are cool',
  'Outdoor Cooking': 'Outdoor Cooking is cool'
} %}
{% set description = descriptionsMap[tag] %}

{% block main %}
  <header>
    <h1 class="{{ tailwind.title }}">{{ tag }}</h1>
    {% if description %}
      <div class="prose">
        <p class="text-xl text-gray-700">{{ description | markdownify_inline | safe }}</p>
      </div>
    {% endif %}
  </header>
  <div class="mt-8 grid lg:grid-cols-3 gap-8">
    <div class="lg:col-span-2">
      <ul class="divide-y divide-gray-200">
        {% for entry in taglist | reverse %}
        <li class="{% if loop.first %}pb-8{% else %}py-8{% endif %}">
          {{ components.entry({
            imgSrc: entry.data.thumbnail,
            lazy: loop.index > 2,
            heading: entry.data.title,
            description: entry.data.description,
            url: entry.url
          }) }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="lg:col-span-1 lg:border-l border-gray-200 lg:pl-8">
    </div>
  </div>
{% endblock %}